<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895516358022-9892m5ft04sit6vqsngk3f2h82d6d9d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895516358022-9892m5ft04sit6vqsngk3f2h82d6d9d7</string>
	<key>API_KEY</key>
	<string>AIzaSyAyIeKP-3kDjK8HdsSOR05pIUNL_gOGBRY</string>
	<key>GCM_SENDER_ID</key>
	<string>895516358022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shantidham</string>
	<key>PROJECT_ID</key>
	<string>shantidham-app</string>
	<key>STORAGE_BUCKET</key>
	<string>shantidham-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895516358022:ios:823d4201ceb492ae706807</string>
</dict>
</plist>